/* import for google fonts */
@import url(https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

/* push footer to bottom of page */
html,
body {
  height: 100%;
  font-family: "Kanit", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(60, 60, 60);
  color: rgb(235, 235, 235);
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

/* element styles */

p {
  color: white;
}

/* nav bar styles */

.navbar,
.footer,
.navbar-brand,
.nav-link {
  background-color: rgb(99, 99, 99) !important;
  color: rgb(235, 235, 235);
}

/* for all cards */

.card {
  margin: 5% 2%;
  border-color: black;
  color: rgb(235, 235, 235);
}

.card-body {
  background-color: rgb(68, 68, 68);
}
.card-header {
  font-weight: 500;
  font-size: 22px;
  background-color: rgb(99, 99, 99);
  border-color: black;
}

.card-title {
  font-weight: 400;
}

.card-text {
  font-weight: 200;
}

/* accordian styles */

.accordion-button,
.accordion-collapse,
.list-group-item {
  background-color: rgb(99, 99, 99);
}

p {
  color: white;
}

.accordion-button:not(.collapsed),
.accordion-button.collapsed {
  background-color: rgb(99, 99, 99);
  color: white;
}

/* form styles */
.form-control,
textarea:focus {
  background-color: rgb(99, 99, 99) !important;
  color: white !important;
}

.form-text {
  color: white;
}
/* for all buttons */

.btn {
  background-color: rgb(99, 99, 99);
  border: none;
  margin: 2%;
}

/* sessions.html specific styles */
/* climbs as table styes*/

th {
  color: white !important;
  background-color: rgb(99, 99, 99) !important;
  font-weight: 500 !important;
}

td {
    color: white !important;
    background-color: rgb(68, 68, 68) !important;
}

.climbs-as-table-button {
    font-size: smaller;
}

.edit-session-table-btn , .delete-session-table-btn {
    
}

.climbs-as-table-button {
    text-align: right;
  }

/* climbs as list styles */

.climbs-as-list-button {
  text-align: center;
  margin-top: 5%;
}

.edit-climb-list-btn,
.delete-climb-list-btn {
  font-size: smaller;
}

.list-group-item {
  background-color: rgb(68, 68, 68);
  padding: 4%;
}
/* ensure title and text for climb details apear on same line in list */
.list-group-item > p {
  display: inline;
}
/* push value to right side of space */
.list-group-item > .text-end {
  float: right;
}

/* media queries */

/* queries to change session_info climbs from list to table with screen size */

/* have the table and list set to hidden as standard */

#climbs-as-table {
  display: none;
}

#climbs-as-list {
  display: none;
}

/* displays them when certian screen width rules are met */

@media (min-width: 1000px) {
  #climbs-as-table {
    display: block;
  }
}

@media (max-width: 1000px) {
  #climbs-as-list {
    display: block;
  }
}

/* plotly chart styles */

.modebar {
    display: none;
}