{% extends 'base.html' %} {% block content %} {% if
current_user.is_authenticated %}

<div class="card">
  <div class="card-header">Delete account</div>
  <div class="card-body">
    <h5 class="card-title">
      Deleting your account will permenantly remove all logged sessions, this
      will be permenant, there is no way to recover this information.
    </h5>

    <form
      method="POST"
      action="{{ url_for('delete_user') }}"
      onsubmit="return confirm('Are you sure you wish to delete your account, this is a permenant action and cannot be reversed?');"
    >
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          minlength="8"
          maxlength="50"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password_check" class="form-label">Re-enter Password</label>
        <input
          type="password"
          class="form-control"
          id="password_check"
          name="password_check"
          minlength="8"
          maxlength="50"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">Delete User</button>
    </form>
  </div>
</div>
{% endif %} {% endblock %}
