{% extends 'base.html' %} {% block content %} {% if
current_user.is_authenticated %}
<div
  class="modal fade"
  id="deleteUserModal"
  tabindex="-1"
  aria-labelledby="deleteUserModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content card">
      <div class="card-header">
        Are you sure you delete your account? This is irreversable and all your
        logged sessions will be permenatly deleted!
      </div>
      <div class="card-body">
        <p class="card-text text-end">
          <button type="button" id="submitDeleteUserForm">Delete account</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            No
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">Delete account</div>
  <div class="card-body">
    <h5 class="card-title">
      Deleting your account will permenantly remove all logged sessions, this
      will be permenant, there is no way to recover this information.
    </h5>

    <form
      method="POST"
      action="{{url_for('delete_user') }}"
      id="deleteUserForm"
    >
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          minlength="8"
          maxlength="50"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password_check" class="form-label">Re-enter Password</label>
        <input
          type="password"
          class="form-control"
          id="password_check"
          name="password_check"
          minlength="8"
          maxlength="50"
          required
        />
      </div>

      <button type="button" data-bs-toggle="modal"
      data-bs-target="#deleteUserModal" class="btn btn-primary">Delete User</button>
    </form>
  </div>
</div>
{% endif %} {% endblock %}
