{% extends 'base.html' %} {% block content %} {% if
current_user.is_authenticated %}
<!-- how to edit climb help modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="EditClimbModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
        <div class="modal-header justify-content-center">
          <h2 id="EditClimbModal">How to edit your climb</h2>
        </div>
        <div class="modal-body text-center">
          <ul class="list-unstyled">
            <li>
              The previous details from the climb you logged will be displayed in the form
            </li>
            <li><div class="spacer"></div></li>
            <li>
              Choose the details which you wish to change and replace them, then click edit climb
            </li>
            <li><div class="spacer"></div></li>
            <li>
              You must recheck one of the options, completed or not completed to confirm whether you completed the climb
            </li>
          </ul>
      </div>
    </div>
    <p class="text-end">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
      >
        Close
      </button>
    </p>
</div>
<br>
<div class="card">
  <div class="card-header edit-climb-header form-div d-flex">
    Edit climb details
    <p class="card-text ms-auto">
      <button
        type="button"
        class="btn btn-primary help-button"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
      >
        Help
      </button>
    </p>
  </div>
  <!-- edit climb div -->
  <div class="card-body form-div">
    <h5 class="card-title">Edit climb</h5>
    <!-- edit climb form -->
    <!-- submitting form passes current climb id to route -->
    <form method="POST" action="{{ url_for('edit_climb', climb_id=climb_id) }}">
      <!-- from climb name div -->
      <div class="mb-3">
        <label for="climbname" id="climb-label" class="form-label">Climb name (optional)</label>
        <input
          type="text"
          class="form-control"
          id="climbname"
          name="name"
          value="{{ climb.name }}"
          maxlength="50"
          aria-labelledby="climb-label"
        >
      </div>
      <!-- form grade div -->
      <div class="mb-3">
        <!-- not visible on screen but to have a value to get for script.js-->
        <span id="difficulty-for-dropdown"  class="visually-hidden">{{ climb.difficulty }}</span>
        <label for="difficulty" id="difficulty-label" class="form-label">Grade</label>
        <select
          class="form-control"
          id="difficulty"
          name="difficulty" 
          aria-labelledby="difficulty-label"
          required
        ></select>
      </div>
      <!-- form length div -->
      <div class="mb-3">
        <label for="length" id="length-label" class="form-label"
          >Length of climb in (hand) moves
        </label>
        <input
          type="number"
          class="form-control"
          id="length"
          name="length"
          value="{{ climb.length }}"
          aria-labelledby="length-label"
          required
        >
        <br>
        <!-- form climb completed div -->
        <div class="d-flex">
          <div class="form-check me-3">
            <!-- not visible on screen but for aria-labelled by-->
            <span id="completedLabel" class="visually-hidden">Mark as completed</span>
            <input
              type="radio"
              class="form-check-input"
              id="completed"
              name="completed"
              value="True"
              {% if climb.completed %} checked {% endif %} 
              aria-labelledby="completedLabel"
              required
            >
            <label class="form-check-label" for="completed">completed</label>
          </div>
          <div class="form-check">
            <!-- not visible on screen but for aria-labelled by-->
            <span id="notCompletedLabel" class="visually-hidden">Mark as not completed</span>
            <input
              type="radio"
              class="form-check-input"
              id="notcompleted"
              name="completed"
              value="False"
              {% if not climb.completed %} checked {% endif %}
              aria-labelledby="notCompletedLabel"
            >
            <label class="form-check-label" for="notcompleted"
              >not completed</label
            >
          </div>
        </div>
      </div>
      <p class="text-end">
        <button type="submit" class="btn btn-primary">Edit climb</button>
      </p>
    </form>
  </div>
</div>
{% endif %} {% endblock %}
