{% extends 'base.html' %} {% block content %} {% if
current_user.is_authenticated %}
<div class="spacer"></div>
<!-- homepage new session div-->
<div class="card">
  <br>
  <h1 class="card-header">
    Log a new <br>
    Climbing Session
  </h1>
  <br>
  <div class="card-text card-text-homepage">
    <ul>
      <li>Start recording a new session</li>
      <br>
      <li>
        <a href="{{ url_for('add_session') }}" class="btn btn-primary"
          >Log a session</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="spacer"></div>
<!-- homepage view sessions div-->
<div class="card">
  <br>
  <h1 class="card-header">
    View your <br>
    Sessions
  </h1>
  <br>
  <div class="card-text card-text-homepage">
    <ul>
      <li>View all your logged sessions</li>
      <br>
      <li>
        <a href="{{ url_for('sessions') }}" class="btn btn-primary"
          >View sessions</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="spacer"></div>
<!-- homepage recent sessions div-->
<div class="card">
  <h2 class="card-header">Your recent<br>sessions</h2>
  <br>
  {% for session in sessions %}{% if session.climbs %}
  <div class="card-text card-text-homepage">
    <ul>
      <li>Your session from {{ session.date }}</li>
      <li>
        <a
          href="{{ url_for('session_info', session_id=session.session_id) }}"
          class="btn btn-primary"
          >View sessions analysis charts</a
        >
      </li>
    </ul>
    <div class="spacer"></div>
  </div>
  {% endif %}{% endfor %}
  <div class="spacer-l"></div>
</div>
{% else %}
<div class="spacer"></div>
<!--  homepage intro div -->
<div class="card">
  <br>
  <h1 class="card-header">Welcome to<br>Climbing Log</h1>
  <br>
  <div class="card-text card-text-homepage">
    <ul>
      <li>Track your sessions</li>
      <li><div class="spacer"></div></li>
      <li>View data</li>
      <li><div class="spacer"></div></li>
      <li>Visualise your progress</li>
    </ul>
  </div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
<!-- homepage create new user div -->
<div class="card">
  <h2 class="card-header">New to <br>Climbing Log?</h2>
  <br>
  <div class="card-text card-text-homepage">
    <ul>
      <li>
        <a href="{{ url_for('add_user') }}" class="btn btn-primary btn-homepage"
          >Sign up here</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="spacer"></div>
<!-- homepage login div -->
<div class="card">
  <h2 class="card-header">Already have <br>an account?</h2>
  <br>
  <div class="card-text card-text-homepage">
    <ul>
      <li>
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-homepage"
          >Login to your account</a
        >
      </li>
    </ul>
  </div>
  <div class="spacer-l"></div>
</div>
  {% endif %} {% endblock %}

