{% extends 'base.html' %} {% block content %} {% if
current_user.is_authenticated %}

<div class="card">
  <div class="card-header">Current session =#</div>
  <div class="card-body">
    <h5 class="card-title">Add climb to your current session</h5>

    <form method="POST" action="{{ url_for('log_climb') }}">
        <div class="mb-3">
            <label for="climbname" class="form-label">Climb name (optional)</label>
            <input
              type="text"
              class="form-control"
              id="climbname"
              name="name"
              maxlength="50"
              aria-describedby="enter climbing name, not required"
            />
          </div>
      <div class="mb-3">
        <label for="difficulty" class="form-label">Grade</label>
        <select
          class="form-control"
          id="difficulty"
          name="difficulty"
          required
        ></select>
      </div>
      <div class="mb-3">
        <label for="length" class="form-label"
          >Length of climb in (hand) moves
        </label>
        <input
          type="number"
          class="form-control"
          id="length"
          name="length"
          aria-describedby="enter number of moves for this climb"
          required
        />
        <div class="d-flex">
            <div class="form-check me-3">
              <input
                type="radio"
                class="form-check-input"
                id="completed"
                name="completed"
                value="True"
                required
              />
              <label class="form-check-label" for="completed">completed</label>
            </div>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="notcompleted"
                name="completed"
                value="False"
              />
              <label class="form-check-label" for="notcompleted">not completed</label>
            </div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary">
        Add climb to session
      </button>
    </form>
  </div>
</div>

{% else %}
<div class="card">
  <div class="card-header">You are not logged into</div>
  <div class="card-body">
    <h5 class="card-title">You must be logged in to use this feature</h5>
    <p class="card-text">
      Either log in to your profile or create one to begin adding sessions and
      logging your climbs
    </p>
    <a href="{{ url_for('add_user') }}" class="btn btn-primary"
      >Create new user</a
    >
    <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
  </div>
</div>
{% endif %} {% endblock %}
