{% extends 'base.html' %}
{% block content %}
<div class="spacer"></div>
<div class="card">
 <br>
    <h1 class="card-header">Login</h1>
    <br>
    <div class="card-body">
      <h5 class="card-title">
        You must login to use the features of climbing log
      </h5>
  
      <form method="POST" action="#">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            minlength="3"
            maxlength="25"
            aria-describedby="enter email address"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            minlength="8"
            maxlength="50"
            required
          />
        </div>
        
        
        
        <p class="card-text text-end">
        <button type="submit" class="btn btn-primary">
          Login
        </button>
      </p>
      </form>
    </div>
  </div>

{% endblock  %}