{% extends 'base.html' %}
{% block content %}
<div class="spacer"></div>
<div class="card form-div">
 <br>
    <h1 class="card-header">Login</h1>
    <br>
    <div class="card-body">
      <h5 class="card-title">
        You must login to use the features of climbing log
      </h5>
      <!-- login to account form-->
      <form method="POST" action="#">
        <!-- form username div -->
        <div class="mb-3">
          <label for="username" id="enter-username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            minlength="3"
            maxlength="25"
            aria-labelledby="enter-username"
            required
          />
        <!-- form password div-->
        </div>
        <div class="mb-3">
          <label for="password" id="enter-password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            aria-labelledby="enter-password"
            name="password"
            minlength="8"
            maxlength="50"
            required
          />
        </div>
        <!-- form submit button -->
        <p class="card-text text-end">
        <button type="submit" class="btn btn-primary">
          Login
        </button>
      </p>
      </form>
    </div>
  </div>
{% endblock  %}