{% extends 'base.html' %} {% block content %} {% if
current_user.is_authenticated %}
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="SessionLocationModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
        <div class="modal-header text-center">How to add location</div>
        <div class="modal-body text-center">
          <ul class="list-unstyled">
            <li>
              Record the location of your climbing session in the box below
            </li>
            <br>
            <li>
              Once the location is recorded you will be taken to the page to record your individual climbs
            </li>
            <br>
            <li>
              Keeping track of the location of your climbs will allow you to track your performance at different locations
            </li>
          </ul>
      </div>
  </div>
  <p class="text-end">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
    >
      Close
    </button>
  </p>
</div>
<div class="card">
  <br>
  <div class="card-header d-flex form-div">Session details
    <p class="card-text ms-auto">
      <button
        type="button"
        class="btn btn-primary help-button"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
      >
        Help
      </button>
      </p>
  </div>
  <div class="card-body form-div">
    <br>
    <h5 class="card-title">
      Add the location of the session to begin logging climbs
    </h5>
    <form method="POST" action="{{ url_for('add_session') }}">
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          minlength="3"
          maxlength="50"
          aria-describedby="enter location of session"
          required
        />
      </div>
      <p class="card-text text-end">
        <button type="submit" class="btn btn-primary">Start session</button>
      </p>
    </form>
  </div>
</div>
{% else %}
<div class="card">
  <div class="card-header">You are not logged into</div>
  <div class="card-body">
    <h5 class="card-title">You must be logged in to use this feature</h5>
    <p class="card-text">
      Either log in to your profile or create one to begin adding sessions and
      logging your climbs
    </p>
    <a href="{{ url_for('add_user') }}" class="btn btn-primary"
      >Create new user</a
    >
    <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
  </div>
</div>
{% endif %} {% endblock %}
