{% extends 'base.html' %} {% block content %}
<br>
<!-- div to hold pie chart -->
<div class="card">
  <div class="card-body">
    <p class="card-text chart-title">
      What percentage of climbs were completed in this session
    </p>
    <div id="pie-chart"></div>
  </div>
</div>
<!-- div to hold scatter -->
<div class="card">
  <div class="card-body">
    <p class="card-text chart-title">Grade of climbs in session vs length</p>
    <div id="scatter-chart"></div>
  </div>
</div>
{% if bar_chart_completed %}
<!-- div to hold bar chart for climbs completed -->
<div class="card">
  <div class="card-body">
    <p class="card-text chart-title">Grade spread of climbs completed</p>
    <div id="bar-chart"></div>
  </div>
</div>
{% endif %} {% if bar_chart_not_completed %}
<!-- div to hold bar chart for climbs not completed -->
<div class="card">
  <div class="card-body">
    <p class="card-text chart-title">Grade spread of climbs failed on</p>
    <div id="bar-chart-not-grade"></div>
  </div>
</div>
<div class="spacer"></div>
<br>
{% endif %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- script to create scatter chart -->
<script>
  var graphs = {{scatter_of_climbs | safe}};
  Plotly.plot('scatter-chart',graphs,{});
</script>
<!-- script to create pie chart -->
<script>
  var graphs = {{pie_chart_grades | safe}};
  Plotly.plot('pie-chart',graphs,{});
</script>
<!-- script to create bar chart for climbs completed -->
<script>
  var graphs = {{bar_chart_completed | safe}};
  Plotly.plot('bar-chart',graphs,{});
</script>
<!-- script to create bar chart for climbs not completed -->
<script>
  var graphs = {{bar_chart_not_completed | safe}};
  Plotly.plot('bar-chart-not-grade',graphs,{});
</script>
{% endblock %}
