{% extends 'base.html' %} {% block content %} {% if
current_user.is_authenticated %}
<!-- modal for confirmation of deleting session-->
<div
  class="modal fade"
  id="deleteSessionModal"
  tabindex="-1"
  aria-labelledby="deleteSessionModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content card">
      <div class="card-header">
        Are you sure you wish to delete your session?
      </div>
      <div class="card-body">
        <p class="card-text text-end">
          <!-- confirm and delete session button -->
          <button type="button" class="btn btn-secondary" id="submitDeleteSessionForm">
            Delete Session
          </button>
          <!-- close modal button-->
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            No
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- modal for confirmation of deleting climb -->
<div
  class="modal fade"
  id="deleteClimbModal"
  tabindex="-1"
  aria-labelledby="deleteClimbModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content card">
      <div class="card-header">Are you sure you wish to delete this climb?</div>
      <div class="card-body">
        <p class="card-text text-end">
          <!-- confirm and delete session button -->
          <button type="button" class="btn btn-secondary" id="submitDeleteClimbForm">Delete Climb</button>
          <!-- close modal button-->
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            No
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
<h1 class="sessions-header">Your sessions</h1>
<!-- session details as table for larger screen sizes -->
<!-- if user doesn't have any session -->
{% if sessions|length == 0 %}
  <div class="card">
    <div class="card-text card-text-homepage">
      <h2>You have no recent sessions</h2>
      <br>
      <a href="{{ url_for('add_session') }}" class="btn btn-primary"
          >Log a session</a
        >
    </div>
  </div>
{% else %}
<!-- loop for every session / if it has climbs -->
{% for session in sessions %} {% if session.climbs %}
<div
  class="card"
  id="climbs-as-table"
  data-session-id="{{ session.session_id }}"
>
  <br>
  <!-- header to show session date -->
  <h2 class="card-header climbs-as-table-header">
    Session on <br>
    {{ session.date }}
  </h2>
  <br>
  <!-- div to display session length and number of climbs -->
  <div class="card-body">
    <p class="text-start">
      Session length: {{ session_lengths[session.session_id] }}
    </p>
    <p class="text-start">Number of climbs: {{ session.climbs | length }}</p>
    <!-- table for displaying all the climbs from session -->
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Grade</th>
          <th scope="col">Moves</th>
          <th scope="col">Completed</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <!-- loop through and create row for each climb-->
        {% for climb in session.climbs %}
        <tr>
          <th class="th-styled-as-td" scope="row">
            {{ climb.name if climb.name else 'Unnamed Climb' }}
          </th>
          <td>{{ climb.difficulty }}</td>
          <td>{{ climb.length }}</td>
          <td>{{ 'Yes' if climb.completed else 'No' }}</td>
          <td>
            <!-- edit climb button for each climb -->
            <a
              href="{{ url_for('edit_climb', climb_id=climb.climb_id) }}"
              class="btn btn-primary climbs-as-table-button"
              >Edit climb</a
            >
          </td>
          <td>
            <!-- form which handles deleting climb -->
            <form
              method="POST"
              action="{{ url_for('delete_climb', climb_id=climb.climb_id) }}"
              id="deleteClimbForm-{{ climb.climb_id }}"
            >
            <!-- button to delete climb - launches confirm modal -->
              <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#deleteClimbModal"
                data-climb-id="{{ climb.climb_id }}"
                class="btn btn-primary"
              >
                Delete climb
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="climbs-as-table-button">
      <form
        method="POST"
        action="{{ url_for('delete_session', session_id=session.session_id) }}"
        id="deleteSessionForm-{{ session.session_id }}"
      >
      <!-- button to delete session - launches confirm modal -->
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#deleteSessionModal"
          data-session-id="{{ session.session_id }}"
          class="btn btn-primary"
        >
          Delete Session
        </button>
      </form>
      <!-- button to link to session_info for the specific climb -->
      <a
        href="{{ url_for('session_info', session_id=session.session_id) }}"
        class="btn btn-primary edit-session-table-btn"
        >View sessions analysis charts</a
      >
    </div>
  </div>
</div>
{% endif %} {% endfor %} {% endif %}
<!-- session details as list for smaller screen sizes -->
{% for session in sessions %} {% if session.climbs %}
<!-- session details div -->
<div class="card" id="climbs-as-list">
  <br>
  <!-- header to show session date -->
  <h2 class="card-title">
    Session from <br>
    {{ session.date }}
  </h2>
  <!-- list format for smaller screens outer accordian has session info -->
  <div class="card-text card-text-homepage">
    <ul>
      <li>Session length: <br>{{ session_lengths[session.session_id] }}</li>
      <li><div class="spacer"></div></li>
      <li>Number of climbs: <br>{{ session.climbs | length }}</li>
      <li><div class="spacer"></div></li>
      <li>
        <div class="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <!-- button to expand accordian holding all climbs -->
              <button
                class="accordion-button collapsed text-start list-text-title"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse--{{ session.session_id }}"
                aria-expanded="false"
                aria-controls="collapse--{{ session.session_id }}"
              >
                  Click to view / edit climbs
              </button>
            </h2>
            <div
              id="collapse--{{ session.session_id }}"
              class="accordion-collapse collapse"
            >
              <div class="accordion-body">
                {% for climb in session.climbs %}
                <div class="accordion accordion-flush">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <!-- button to expand accordian holding climb details-->
                      <button
                        class="accordion-button collapsed list-text-title"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse-{{ climb.climb_id }}"
                        aria-expanded="false"
                        aria-controls="flush-collapse-{{ climb.climb_id }}"
                      >
                      <!-- climb name is clickable part of accordian -->
                          {{ climb.name if climb.name else 'Unnamed Climb' }} 
                      </button>
                    </h2>
                    <!-- accordian opens up and contains climb info in a list-->
                    <div
                      id="flush-collapse-{{ climb.climb_id}}"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body">
                        <ul class="list-group list-group-climbs">
                          <li class="list-group-item">
                            <p class="text-start">Grade:</p>
                            <p class="text-end">{{ climb.difficulty }}</p>
                          </li>
                          <li class="list-group-item">
                            <p class="text-start">Moves:</p>
                            <p class="text-end">{{ climb.length }}</p>
                          </li>
                          <li class="list-group-item">
                            <p class="text-start">Completed:</p>
                            <p class="text-end">
                              {{ 'Yes' if climb.completed else 'No' }}
                            </p>
                          </li>
                          <!-- edit/delete climb buttons -->
                          <li class="list-group-item text-end">
                            <!-- form which handles deleting climb -->
                            <form
                              method="POST"
                              action="{{ url_for('delete_climb', climb_id=climb.climb_id) }}"
                              id="deleteClimbFormList-{{ climb.climb_id }}"
                            >
                            <!-- button to delete climb - launches confirm modal -->
                              <button
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteClimbModal"
                                data-climb-id="{{ climb.climb_id }}"
                                class="btn btn-primary"
                              >
                                Delete climb
                              </button>
                            </form>
                            <!-- edit climb button for each climb -->
                            <a
                              href="{{ url_for('edit_climb', climb_id=climb.climb_id) }}"
                              class="btn btn-primary"
                              >Edit climb</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- edit/delete session div -->
      <div class="climbs-as-list-button text-start">
        <form
          method="POST"
          action="{{ url_for('delete_session', session_id=session.session_id) }}"
          id="deleteSessionFormList-{{ session.session_id }}"
        >
        <!-- button to delete session - launches confirm modal -->
          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#deleteSessionModal"
            data-session-id="{{ session.session_id }}"
            class="btn btn-primary"
          >
            Delete Session
          </button>
        </form>
        <!-- button to link to session_info for the specific climb -->
        <a
          href="{{ url_for('session_info', session_id=session.session_id) }}"
          class="btn btn-primary"
          >View charts</a
        >
      </div>
  </div>
</div>
{% endif %}{% endfor %}{% endif %}{% endblock %}


