{% extends 'base.html' %} {% block content %}
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text chart-title">
      What percentage of climbs were completed in this session
    </p>
    <div id="pie-chart"></div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text chart-title">Grade of climbs in session vs length</p>
    <div id="scatter-chart"></div>
  </div>
</div>
{% if graph1JSON %}
<div class="card">
  <div class="card-body">
    <p class="card-text chart-title">Grade spread of climbs completed</p>
    <div id="bar-chart"></div>
  </div>
</div>
{% endif %} {% if graph_grades_not_climbedJSON %}
<div class="card">
  <div class="card-body">
    <p class="card-text chart-title">Grade spread of climbs failed on</p>
    <div id="bar-chart-not-grade"></div>
  </div>
</div>
<div class="spacer"></div>
<br>
{% endif %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{scatterJSON | safe}};
  Plotly.plot('scatter-chart',graphs,{});
</script>
<script type="text/javascript">
  var graphs = {{graphJSON | safe}};
  Plotly.plot('pie-chart',graphs,{});
</script>
<script type="text/javascript">
  var graphs = {{graph1JSON | safe}};
  Plotly.plot('bar-chart',graphs,{});
</script>
<script type="text/javascript">
  var graphs = {{graph_grades_not_climbedJSON | safe}};
  Plotly.plot('bar-chart-not-grade',graphs,{});
</script>

{% endblock %}
