{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated %}
<body>
  <div class="container mt-4">
      <h1>Your logged climbing sessions</h1>
      {% for session_id, climbs in climb_details.items() %}
      <h2>Session ID: {{ session_id }}</h2>
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Climb ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Difficulty</th>
                  <th scope="col">Length</th>
                  <th scope="col">Completed</th>
              </tr>
          </thead>
          <tbody>
              {% for climb_id, climb in climbs.items() %}
              <tr>
                  <th scope="row">{{ climb_id }}</th>
                  <td>{{ climb.name }}</td>
                  <td>{{ climb.difficulty }}</td>
                  <td>{{ climb.length }}</td>
                  <td>{{ 'Yes' if climb.completed else 'No' }}</td>
                  <td><a href="{{ url_for('delete_climb', climb_id=climb_id) }}"class="btn btn-primary">Delete climb</a></td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      {% endfor %}
  </div>
  {% else %}
  <p>You need to log in to view this page.</p>
{% endif %}
{% endblock  %}