{% extends 'base.html' %} {% block content %}

<div class="card">
  <div class="card-header fw-bold">
    What percentage of climbs did you complete in this session?
  </div>
  <div class="card-body">
    <p class="card-text"></p>
    <div id="pie-chart"></div>
  </div>
</div>
{% if graph1JSON %}
<div class="card">
  <div class="card-header fw-bold">Grade spread of climbs completed from his session</div>
  <div class="card-body">
    <p class="card-text"></p>
    <div id="bar-chart"></div>
  </div>
</div>
{% endif %}

{% if graph_grades_not_climbedJSON %}
<div class="card">
  <div class="card-header fw-bold">Grade spread of climbs failed on</div>
  <div class="card-body">
    <p class="card-text"></p>
    <div id="bar-chart-not-grade"></div>
  </div>
</div>
{% endif %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{graphJSON | safe}};
  Plotly.plot('pie-chart',graphs,{});
</script>
<script type="text/javascript">
  var graphs = {{graph1JSON | safe}};
  Plotly.plot('bar-chart',graphs,{});
</script>
<script type="text/javascript">
  var graphs = {{graph_grades_not_climbedJSON | safe}};
  Plotly.plot('bar-chart-not-grade',graphs,{});
</script>

{% endblock %}
